
<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <%= render @users %>
</ul>

<%= will_paginate %>

<%# in order to veiw users index for this app only  answer from...... :https://stackoverflow.com/questions/5636696/how-to-fix-this-up-unknown-action-the-action-index-could-not-be-found-for-u#%>